.register-page {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  background-image: url("/assets/login-background.png");
  background-position: center;

  .content {

   display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    .top-logo {
      img {
        width: 100%;
      }
    }
  }
}
