<div class="register-page">
  <div class="content">
    <div class="top-logo">
      <img src="/assets/acaisoft-logo-more.svg">
    </div>
    <div class="title-bar">
      REGISTER
    </div>
    <form (ngSubmit)="register()"
          [formGroup]="formGroup">
      <div class="acs-form-group">
        <div class="icon-input">
          <img src="/assets/icons/user.svg">
          <input type="text"
                 id="email"
                 class="acs-input"
                 placeholder="Email"
                 [formControl]="formGroup.get('email')">
        </div>
      </div>
      <div class="acs-form-group">
        <div class="icon-input">
          <img src="/assets/icons/lock.svg">
          <input type="password"
                 id="password"
                 class="acs-input"
                 placeholder="Password"
                 [formControl]="formGroup.get('password')">
        </div>
        <div class="icon-input">
          <img src="/assets/icons/lock.svg">
          <input type="password"
                 id="confirmPassword"
                 class="acs-input"
                 placeholder="Confirm Password "
                 [formControl]="formGroup.get('confirmPassword')">
        </div>
      </div>
      <div class="acs-form-buttons">
        <button type="submit">
          REGISTER
        </button>
      </div>
    </form>
  </div>
</div>
